{{!-- <main>

  <!-- Start Register Section -->
  <div class="login-register-div">
    <div class="login-register-box">
      <h1>Petstagram</h1>

      <!-- Start Register Form -->
      <form method="POST">
        <input type="text" name="username" placeholder="Username" />

        <input type="email" name="email" placeholder="Email" />

        <input type="password" name="password" placeholder="Password" />

        <input
          type="password"
          name="repeatPassword"
          placeholder="Repeat Password"
        />

        <!-- Register Button -->
        <button type="submit">Register</button>
      </form>

    </div>
    <div class="second-option">

      <!-- Link to Login Page -->
      <p>Have an account? <a href="/users/login">LogIn</a></p>
    </div>
  </div>

</main> --}}

 <main id="register">
        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->
        
        <div class="register-box">
            <h1>Register</h1>
            <h4>It's free and only takes a minute</h4>
            <form method="POST">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username..">
                <label>Email</label>
                <input type="text" name="email" placeholder="Email..">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password..">
                <label>Confirm Password</label>
                <input type="password" name="repeatPassword" placeholder="Confirm Password..">
                <input type="submit" value="Register">
            </form>
            <p>Already have an account? <a href="/users/login">Login here</a></p>
        </div>
    </main>