

  {{!-- <main id="create">
        <section id="create-container">
            <div class="create-container-info">
                <h1>Create Game Code Offer</h1>
                <h4>Post your code to sell</h4>
                <form method="POST">
                    <label>Platform:</label>
                    <select id="platform" name="platform">
                        <option value="">-------</option>
                        <option value="PC">PC</option>
                        <option value="Nintendo">Nintendo</option>
                        <option value="PS4">PS4</option>
                        <option value="PS5">PS5</option>
                        <option value="XBOX">XBOX</option>
                    </select>
                    <label>Name:</label>
                    <input type="text" id="name" name="name">
                    <label>Image:</label>
                    <input type="text" id="image" name="image" placeholder="http://...">
                    <label>Price:</label>
                    <input type="number" id="price" name="price">
                    <label>Genre:</label>
                    <input type="text" id="genre" name="genre">
                    <label>Description:</label>
                    <textarea id="description" name="description"></textarea>

                    <input type="submit" id="btn" value="CREATE"></input>
                </form>
            </div>
        </section>
    </main> --}}

     <main class="create">
            <!-- Create Page (Only for logged-in users) -->
            <section id="create">
                <div class="form">
                    <h2>Add item</h2>
                    <form class="create-form" method="POST">
                        <input type="text" name="name" id="name" placeholder="Name" />
                        <input type="text" name="years" id="years" placeholder="Years" />
                        <input type="text" name="kind" id="kind" placeholder="Kind" />
                        <input type="text" name="image" id="animal-img" placeholder="Image url" />
                        <input type="text" name="need" id="needs-of" placeholder="Needs of" />
                        <input type="text" name="location" id="location" placeholder="Location" />
                        <textarea id="description" placeholder="Description..." name="description"></textarea>

                        <button type="submit">Post</button>
                    </form>
                </div>
            </section>
        </main>